body {
  background-color: lightcoral;
}

.metalFormContainer {
  display: flex;
  flex-wrap: wrap;
  width: 16rem;
  /* flex-direction: column; */
}

.metalForm--name {
  width: 100%;
}

.metalForm--type {
  width: 100%;
}
.metalForm--weight {
  width: 68%
}
.metalForm--unit {
  width: 28%;
}
.metalForm--qty {
  width: 100%;
}
.metalForm--cost {
  width: 100%;
}

.metalDisplayContainer {
  display: flex;
}

.individualMetal {
  border: solid black 2px;
  margin: .5rem;
}